

	/*======================
		POST LOOP CSS
	======================*/

  .post-listing *, ::after, ::before {
    box-sizing: border-box;
  }
  .post-loop-listing *, ::after, ::before {
    box-sizing: border-box;
  }

	/* Loop shortcode css */
	.post-listing, .post-loop-listing {
    margin: 10px auto !important;
    padding: 0 !important;
    list-style-type: none;
    position: relative;
  }
	.post-listing li, .post-loop-listing li {
		padding: 20px;
		border-radius: 15px;
		margin-bottom: 10px;
	}

	.post-listing li h2, .post-loop-listing li h2 { margin-top: 0; }

	.post-listing li .post-img-feat, .post-loop-listing li .post-img-feat { margin-bottom: 20px; }

	.post-listing li .blog-container, .post-loop-listing li .blog-container {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

	.post-listing li .blog-container li, .post-loop-listing li .blog-container li {
    display: inline-block;
    width: 50%;
  }

  .post-listing img, .post-loop-listing img {
    max-width: 100%;
    height: auto;
  }

  .post-loop-listing img {
    vertical-align: initial;
  }

  .post-loop-listing .content-container {
    vertical-align: top;
  }

	/* Grid loop */
	.post-grid {
    margin: 10px auto;
    list-style-type: none;
    display: flex
;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
    flex-direction: row;
  }
	.post-grid li {
    /* width: 33%;
    display: inline-block; */
    flex: 0 0 calc(33% - 10px);

    padding: 20px;
    border-radius: 7px;
    margin-bottom: 1px;
    border-right: 1px solid white;
  }





	.post-listing li .blog-container {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }



  .post-grid img {
    max-width: 100%;
    height: auto;
  }





	@media only screen and ( max-width: 768px ) {
		.post-listing, .post-grid { padding: 0 20px !important; }

		.post-listing li .blog-container li { width: 100%; float: none; }
		.post-loop-listing li .blog-container li { width: 100%; float: none; }

    .post-loop-listing li .img-container  {
      padding-bottom: 0;;
    }
    .post-loop-listing li .content-container {
      padding-top: 0;
    }
		/* .post-loop-listing li {
      margin-bottom: 0;
      padding-bottom: 0;
     } */

		.no-img-container { display: none !important; }

		.post-grid li { width: 50%; }
	}

	@media only screen and (max-width: 665px) {

	}

	@media only screen and (max-width: 479px) {
		.post-grid li {
      width: 100%;
      display: block;
      float: none;
      padding: 20px;
      border: none;
    }
	}

